<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- config -->
    <context:annotation-config/>

    <!-- general -->
    <bean class="pl.kbieron.iomerge.server.properties.PropertyManager" c:packageName="pl.kbieron.iomerge.server"/>
    <bean class="pl.kbieron.iomerge.server.appState.AppStateManager"/>
    <bean class="pl.kbieron.iomerge.server.Bootstrap"/>

    <bean class="pl.kbieron.iomerge.server.ui.movementReader.VirtualScreen"/>

    <!-- UI -->
    <bean class="pl.kbieron.iomerge.server.ui.EdgeTrigger"/>
    <bean class="pl.kbieron.iomerge.server.ui.SettingsWindow"/>
    <bean class="pl.kbieron.iomerge.server.ui.TrayManager"/>
    <bean class="pl.kbieron.iomerge.server.ui.movementReader.MouseTrapReader"/>

    <!-- network -->
    <bean class="pl.kbieron.iomerge.server.network.EventServer"/>
    <bean class="pl.kbieron.iomerge.server.network.MsgDispatcher"/>
    <bean class="pl.kbieron.iomerge.server.network.MsgProcessor"/>

    <!-- gestures -->
    <bean class="pl.kbieron.iomerge.server.gesture.GestureRecorder"/>
    <bean class="pl.kbieron.iomerge.server.gesture.PatternDatabase"/>
    <bean class="pl.kbieron.iomerge.server.gesture.calc.LikelihoodCalculator"/>
    <bean class="pl.kbieron.iomerge.server.gesture.calc.Normalizer"/>
    <bean class="pl.kbieron.iomerge.server.gesture.calc.TemplateMatcher"/>

    <!-- utilities -->
    <bean class="pl.kbieron.iomerge.server.utilities.ClipboardManager"/>

    <!-- java platform utilities -->
    <bean id="defaultToolkit"
          class="java.awt.Toolkit"
          factory-method="getDefaultToolkit"/>

    <bean id="clipboard"
          factory-bean="defaultToolkit"
          factory-method="getSystemClipboard"/>

</beans>