<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="pl.kbieron.iomerge.server"/>
    <context:annotation-config/>

    <bean id="propertyManager"
          class="pl.kbieron.iomerge.server.properties.PropertyManager"
          c:packageName="pl.kbieron.iomerge.server"/>

    <bean id="defaultToolkit"
          class="java.awt.Toolkit"
          factory-method="getDefaultToolkit"/>

    <bean id="clipboard"
          factory-bean="defaultToolkit"
          factory-method="getSystemClipboard"/>
</beans>